<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../App.css">
</head>
<body>
    

    <!-- <div class="filter__list">
        <ul class="filter__list--nav">
            <li class="filter__list--item"><a>Michael Jackson</a></li>
            <li class="filter__list--item"><a>Frank Sinatra</a></li>
            <li class="filter__list--item"><a>Calvin Harris</a></li>
            <li class="filter__list--item"><a>Zhu</a></li>
            <li class="filter__list--item"><a>Arctic Monkeys</a></li>
        </ul>
    </div> -->

    <div class="filter__year">
        <input type="radio" value="Более новые" class="filter__year--radio" name="year" id="radio-1"><label for="radio-1" class="filter__year--value">Более новые</label>
        <input type="radio" value="Более старые" class="filter__year--radio" name="year" id="radio-2"><label for="radio-2" class="filter__year--value">Более старые</label>
    </div>
</body>
</html>